body {
    background-image: url("./assets/bg-main-desktop.png");
    font-family: 'IBM Plex Sans', sans-serif;
}
.container {
    width: 1110px;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .logo-area {
    align-self: flex-start;
}