* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/bg-main-desktop.png");
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

p {
    font-size: 1.25rem;
    margin-bottom: 0.55em;
}

footer p {
    font-size: 1rem;
}

h1 {
    font-size: 5.5rem;
    margin-bottom: 0.55em;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.55em;
}

.logo-area {
    margin-top: 61px;
}

.hero {
    margin-top: 127px;
    margin-bottom: 321px;
}

.hero-text {
    line-height: 1.7;
    width: 825px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.top-decorative-pattern {
 position: absolute;
    top: -40px;
    right: 0;
}

.main-area {
    width: 1110px;
    border-radius: 12px;
    height: 600px;
    background-size: 312px;
    background: #191826 url("./assets/bg-pattern-3.svg") no-repeat top 0 left 316px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 auto 200px auto;
}

.app-device {
    width: 312px;
    position: relative;
    top: -200px;
}

.download-card {
    width: 446px;
    background: #FA7453;
    border-radius: 12px;
    padding: 48px 58px;
    color: #FCFAF9;
    position: relative;
    bottom: -140px;
}

.download-card h1 {
    margin-top: 0.75em;
}

.download-card p {
    line-height: 1.7;
    margin-bottom: 1.95em;
}

.download-card-pricing {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 2.875rem;
}

.download-card-pricing p {
    margin: 0;
}


.download-card-pricing__price {
    font-size: 4.0625rem;
    font-weight: 700;
}

button {
    font-size: 1.125rem;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

button:not(:last-of-type) {
    margin-bottom: 1em;
}

.download-button {
    width: 333px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0.777em;
    border-radius: 12px;
    border-style: none;
    line-height: 32px;
}

.download-button_ios {
    background: #191826;
    /*background: rgba(102, 226, 220, 1);*/
}

.download-button_android {
    background: #FCFAF9;
    /*background: rgba(255, 185, 100, 1);*/
    color: #191826;
}

.download-button_ios:hover {
    background: rgba(102, 226, 220, 1);
}

.download-button_android:hover {
    background: rgba(255, 185, 100, 1);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-area {
    align-self: flex-start;
}

.social-icons {
    display: flex;
    gap: 20px;
}