body {
    background-image: url("./assets/bg-main-desktop.png");
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}


p {
    font-size: 1.25rem;
}

footer p {
    font-size: 1rem;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 2.5rem;
}

button {
    font-size: 1.125rem;
    font-weight: 700;
}

.download-button {
    width: 333px;
    color: white;
    padding: 0.777em 4.277em;
    border-radius: 12px;
    border-style: none;
}

.download-button_ios {
    background: rgba(102, 226, 220, 1);
}

.download-button_android {
    background: rgba(255, 185, 100, 1);
}

.container {
    width: 1110px;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .logo-area {
    align-self: flex-start;
}